@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
    overflow-x: hidden;
    margin: 50px;
  }

.footer { 
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: black;
  text-align: left;
}



  nav {
    left: 50;
    z-index: 100; 
    
  }

nav ul {
    list-style-type: none;
    
}

nav ul li {
    text-transform: uppercase;
    color: purple;
    margin: 10px 850px;
    
}

nav ul li i {  
    margin-right: 10px;

}

nav ul li + li {
    margin-left: 10px 630px;
  }

  nav ul li + li + li {
    margin-left: 10px 675px;
    
  }

  .content {
    max-width: 1000px;
    margin: -150px auto;
  }
 
  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  @media screen and (max-width:320px) {
    /* CSS for screens that are 320 pixels or less will be put in this section */
  }